

.paginationBttns {
    width: 100%;
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-self: center;
}

.paginationBttns a {
    padding: 15px;
    margin: 10px;
    color: #000000;
    cursor: pointer;
    font-weight: 500;
font-size: 14px;
line-height: 24px;
}

.paginationBttns a:hover {
    width: 50px;
    background: #E6DCFF;
    border-radius: 30px;
}

.paginationActive a {
    background: #E6DCFF;
    border-radius: 30px;
}